* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#succeed-info .header {
	text-align: center;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	text-align: left;
	min-height: 110px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding: 20px;
}

#pre-footer div {
	display: inline-block;
}

#pre-footer div:nth-child(n+2){
	margin: 0 100px;
}

#pre-footer div h3, p {
	padding-bottom: 5px;
}

footer {
	padding: 0.7rem;

}

footer span {
	/*margin-left: 0.5rem;
	margin-right: 0.5rem;*/
	margin:0 0.5rem;

}